<body style="display: flex; flex-direction: column; align-items: center;">
  <p style="display: flex;
    justify-content:center; 
    align-items: center;
    text-align: center;
    color: black; 
    font-size: xx-large; 
    font-weight: bold; 
    font-family: sans-serif;
    margin-top: 2%;" >Query Logs</p>
  <div style="display: flex; flex-direction: row; width: 80%; justify-content: center; gap: 1rem; margin-bottom: 2%;">
    <select id="filterDropdown" (change)="onFilterChange($event)" style="border: 1px solid black; border-radius: 10px; padding: 2px;">
      <option value="" disabled selected>Filter by Column</option>
      <option value="ip_address">IP Address</option>
      <option value="machine">Machine</option>
      <option value="os_user">OS User</option>
      <option value="triggered_query">Triggered Query</option>
      <option value="userid">User ID</option>
      <option value="db_origin">Database</option>
    </select>
    <div class="form-container">
      <label for="name" class="label">Search</label>
      <input 
      style="width: 100%;"
      type="text" id="filterValue" class="input" (input)="onFilterChange($event)" placeholder="Search For Record..."
      >
    </div>
    <div class="form-container">
      <label for="datePicker" class="label">Date</label>
      <input 
      type="date" id="datePicker" class="input" (change)="onDateChange($event)" 
      >
    </div>
  </div>

  <table #auditTable class="audit-table">
    <thead>
      <tr>
        <th class="table-header">IP Address</th>
        <th class="table-header">Log Time</th>
        <th class="table-header">Machine</th>
        <th class="table-header">OS User</th>
        <th class="table-header">Triggered Query</th>
        <th class="table-header">User ID</th>
        <th class="table-header">Database</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredAuditDetails; let index = index" [ngClass]="{ 'odd-row': index % 2 === 0, 'even-row': index % 2 !== 0 }">
        <td class="table-cell">{{ item.ip_address }}</td>
        <td class="table-cell">{{ item.logtime }}</td>
        <td class="table-cell">{{ item.machine }}</td>
        <td class="table-cell">{{ item.os_user }}</td>
        <td class="table-cell">{{ item.triggered_query }}</td>
        <td class="table-cell">{{ item.userid }}</td>
        <td class="table-cell">{{ item.db_origin }}</td>
      </tr>
    </tbody>
  </table>
  <button 
  style="border-width: 2px;
  border-color: white; /* Assuming 'border-xblue' corresponds to this color */
  width: max-content; /* Equivalent to 'w-max' */
  max-height: max-content;
  background-color: green; /* Equivalent to 'bg-white' */
  border-radius: 0.375rem;
  font-size: xx-large;
  "

  (click) ="exportElmToExcel()">📤</button>
</body>
